<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheets/landing.css">
    <link rel="stylesheet" href="../static/stylesheets/choices.css">
    <link rel="stylesheet" href="../static/stylesheets/gameScreen1.css">
    <link rel="stylesheet" href="../static/stylesheets/settings.css">
    <link rel="stylesheet" href="../static/stylesheets/top.css">
    
    
    <title>What do you meme?</title>
</head>
<body>

<div class="landing-page">
    <div class="landing-page-left">
        <div class="landing-page-left-header">
            What do you <br>
            MEME?
        </div>
        <div class="landing-page-left-description">
            Ready to "meme" along with your buddies?
        </div>
        <div class="landing-page-left-button">
            <a href="/choices">Get Started</a>
        </div>
    </div>
</div>

</body>
</html>
